.banner__box-informacoes {
    background-image: url(../img/Banner-info-gerais-mobiline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.informacoes-gerais__titulo {
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 2em;
    padding: 1em 2em;
}

.caixa__perguntas {
    padding: 1rem;
}

.caixa__perguntas-titulo {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 2rem;
}

.box__perguntas-texto {
    padding: 1rem;
    background: var(--azul-claro);
    transition: max-height 0.2s ease-out;
    color: var(--preto);
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: none;
    line-height: 2rem;
}

.box__perguntas-link {
    color: var(--preto);
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    padding-right: 1.4rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: var(--roxo);
  }

  .active, .accordion:hover {
    background: var(--roxo);
  }
  
  .accordion:after {
    content: '\002B';
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    background: var(--azul-claro);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .caixa__pergunta-ultima {
    padding-bottom: 5rem;
  }

 /* ============================= TABLET =========================== */

@media screen and (min-width: 768px) {
    .banner__box-informacoes {
        background-image: url(../img/Banner-info-gerais-tablet.png);
        height: 400px;
    }

    .informacoes-gerais__titulo {
        padding: 2em;
    }

    .caixa__perguntas {
        padding: 0.5rem 4rem;
    }

    .caixa__pergunta-ultima {
        padding-bottom: 5rem;
    }

    
}

 /* ============================= DESKTOP =========================== */

@media screen and (min-width: 1440px) {
    .banner__box-informacoes {
        background-image: url(../img/Banner-info-gerais-desktop.png);
        height: 400px;
    }

    .informacoes-gerais__titulo {
        padding: 2em;
        font-size: 3em;
    } 

    .caixa__perguntas {
        padding: 0.5rem 10rem;
    }

    .caixa__pergunta-ultima {
        padding-bottom: 10rem;
    }

    
}

 /* ============================= DESKTOP + =========================== */

@media screen and (min-width: 2560px) {

    .banner__box-informacoes {
        height: 500px;
    }

    .caixa__perguntas {
        padding: 1rem 40rem;
    }

    .caixa__pergunta-ultima {
        padding-bottom: 15rem;
    }

    
}