.lineUp__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}

.bandas {
    padding: 4rem 0;
}

.bandas__item {
    text-align: center;
}

.bandas__lista {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banda-espaco {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1em;
}

.texto-1 {
    font-weight: 800;
    font-size: 3rem;
}

.texto-2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.texto-3 {
    font-weight: 700;
    font-size: 2.5rem;
}

.texto-4 {
    font-weight: 700;
    font-size: 2rem;
}

.texto-5 {
    font-weight: 700;
    font-size: 2rem;
}

.texto-6 {
    font-weight: 500;
    font-size: 2rem;
}

.texto-7 {
    font-weight: 500;
    font-size: 1.8rem;
}


 /* ============================= TABLET =========================== */

@media screen and (min-width: 768px) {
    
    .banda-espaco {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    .botao-falso {
        font-size: 3em;
    }


    .botao-falso {
        display: flex;
        justify-content: center;
        background: var(--verde-escuro);
        padding: 16px;
        width: fit-content;
        margin: 0 auto;
        position: relative;
    }
      
    .botao-falso::before, h3::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        background: var(--verde-escuro);
        left: -100px;
        top: 50%;
        transform: translatey(-50%);
    }
      
    .botao-falso:after {
        left: unset;
        right: -100px;
    }
}

 /* ============================= DESKTOP =========================== */

@media screen and (min-width: 1440px) {
    .banda-espaco {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    .banda__espaco-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

    }

    .botao-falso-tamanho {
        margin: 0 5em;
    }

    .botao-falso::before, h3::after {
        width: 300px;
        left: -400px;
        
    }
      
    .botao-falso:after {
        left: unset;
        right: -400px;
    }

}

 /* ============================= DESKTOP + =========================== */

@media screen and (min-width: 2560px) {
    

    .botao-falso::before, h3::after {
        width: 400px;
        left: -500px;
        
    }
      
    .botao-falso:after {
        left: unset;
        right: -500px;
    }
}

