.nav-bar {
    background: var(--roxo);
    padding: 1em 1.5em;
}

.nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar__lista {
    display: none;
    position: absolute;
    top: 105px;
    right: 5px;
    transition: all 1s;
}

.nav-bar__estilo {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-family: var(--fonte-principal);
    font-size: 1.25em;
    font-weight: 700;
    
    background: var(--roxo);
    border-radius: 10px;
    padding: 1em;
    padding-top: 2rem;

    transition: all 1s;
    box-shadow: 10px 10px 37px -4px rgba(0,0,0,0.37);
}

.nav-bar__item {
    text-align: center;
    position: relative;
    padding-bottom: 1em;
}

.nav-bar__item::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background: white;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%)
}
  
.nav-bar__item:last-child::after {
    display: none;
}

.nav-bar__link {
    text-decoration: none;
    color: White;
    transition: 0.5s all;
}

.lista__nav {
    transition: 1s all;
    
}

.lista__nav-item {
    transition: 0.5s all;
    position: relative;
}


.lista__nav-item:hover {
    transform: scale(1.1);
}

.nav-tablet, .nav-desktop  {
    display: none;
}

.pagina-selecionada {
    line-height: 25px;
    border-bottom: 3px solid var(--branco);
}

 /* ============================= TABLET =========================== */

@media screen and (min-width: 768px) {
    .nav-mobile {
        display: none;
    }

    .nav-tablet {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    .lista {
        width: 100%;
    }

    .lista__nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .lista__nav-link {
        text-decoration: none;
        color: var(--branco);
        font-weight: 700;
        font-size: 1.2em;
        font-family: var(--fonte-principal);
    }


}

 /* ============================= DESKTOP =========================== */

@media screen and (min-width: 1440px) {

    .nav-tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 0 5rem;
    }

    .lista__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
        padding: 0;
        margin: 0;
    }


}

 /* ============================= DESKTOP + =========================== */

@media screen and (min-width: 2560px) {
    .nav-tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 0 30rem;
    }
}
