.rodape {
    background: var(--roxo);
    padding-top: 1em;
    text-align: center;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: 500;
    
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.rodape__texto {
    padding: 2em;
    line-height: 1.2em;
}

.rodape__link-pessoal {
    text-decoration: none;
    color: var(--branco);
    text-transform: bold;
    font-weight: 700;
}

.rodape__link-pessoal:hover {
    text-decoration: underline;
}

.social__link {
    text-decoration: none;
}

.rodape__icones {
    color: white;
    font-size: 2rem;
    transition: 0.3s all;
    list-style: none;
}

.icon-whatsapp:hover {
    color: #4bba57;
}

.icon-instagram:hover {
    color: #FF0F7B;
}

.icon-twitch:hover {
    color: #5f3c9d;
}

.icon-twitter:hover {
    color: #419cd5;
}

 /* ============================= TABLET =========================== */

@media screen and (min-width: 768px) {
    .rodape {
        padding: 3em 0;
    }

    .rodape__texto {
        padding: 0;
    }
    .espacamento-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 1.5em;
    }
}

 /* ============================= DESKTOP =========================== */

@media screen and (min-width: 1440px) {
    .rodape {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 3em 0;
    }

    .rodape__texto {
        padding: 0;
        line-height: 2em;
    }

    .rodape-desktop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .espacamento-tablet {
        padding: 0;
    }

    .lista {
        width: 60%;
    }

    .lista__nav {
        justify-content: space-around;
    }
}
